input, button, select {
  border: 1px solid #333;
  padding: 2px;
}

.range-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 10px;
  column-gap: 10px;
}

.range-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  column-gap: 10px;
  row-gap: 10px;
  height: auto;
  overflow-y: auto;
  padding: 5px;
  justify-content: space-between;
}

.range-details {
 margin: auto;
}

.range-list-item {
  border: 1px solid #333;
  padding: 5px;
}